@page "/"
@using OpenAI.GPT3.ObjectModels.ResponseModels;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<RadzenText TextStyle="TextStyle.DisplayH1" TagName="TagName.H1">Hello, Radzen Blazor!</RadzenText>

<button class="btn btn-primary" @onclick="GetChatCompletion">Get Chat Completion</button>

@code{

    private ChatCompletionCreateResponse? chatCompletionCreateResponse;
    
    private async Task GetChatCompletion()
    {
        chatCompletionCreateResponse = await Http.GetFromJsonAsync<ChatCompletionCreateResponse>("api/v1/chat?message=test");
    }
}
