@page "/"
@using OpenAI.GPT3.ObjectModels.ResponseModels;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="GetChatCompletion">Get Chat Completion</button>

@code{

    private ChatCompletionCreateResponse? chatCompletionCreateResponse;
    
    private async Task GetChatCompletion()
    {
        chatCompletionCreateResponse = await Http.GetFromJsonAsync<ChatCompletionCreateResponse>("api/v1/chat?message=test");
    }
}
